.Layout {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Header {
    background-color: firebrick;
}

.LogoContainer {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.LogoContainer h1 {
    padding: 0;
    margin: 0;
    margin-left: 0.6rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.Logo {
    animation: spin 3s linear infinite;
    height: auto;
    max-width: 48px;
    width: 100%;
}

.Content {
    padding: 4rem;
}

.Footer {
    background-color: white;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Footer > p {
    padding: 0;
    margin: 0;
    margin-right: 1rem;
}

.Footer svg {
    transition: color 0.2s linear;
}

.Footer svg:hover {
    color: firebrick;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
